.custom-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 455px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.custom-popup.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.address-text {
  flex-grow: 1;
}

.copy-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 12px;
  margin-top: 10px;
}

.copy-button:hover {
  background-color: #45a049;
}

.checkmark {
  font-size: 16px; /* Ukuran ikon ceklis */
  color: white;
}

.close-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 19px;
  cursor: pointer;
  padding: 0;
  margin-left: 12px;
  margin-top: -47px;
}

.close-button:hover {
  color: red;
}
