<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Top Crypto Exchanges by Volume</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/cexs.css" />
  </head>
  <body>
    <table id="exchangeTable">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Exchange</th>
          <th>24h Volume (USD)</th>
        </tr>
      </thead>
      <tbody id="exchangeData"></tbody>
    </table>
    <canvas id="volumeChart"></canvas>
    <script src="/js/cexjs.js"></script>
  </body>
</html>
