<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
  <div class="flex flex-wrap space-y-6 mb-4">
    <!-- Kolom Kiri -->
    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">
      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <img
          src="{{ .Site.BaseURL }}/bitpaus-logo.png"
          width="200"
          height="200"
          alt="Logo BitPaus"
          class="mr-4"
        />
        <span class="text-2xl font-semibold uppercase">{{ .Site.Title }}</span>
      </a>
      <p>
        Alam0x adalah platform Informasi seputar crypto, dengan visi </br>
        membangun literasi digital dan finansial yang kuat bagi seluruh </br>
        masyarakat Indonesia, serta meningkatkan kesadaran akan </br>
        bahaya nya judi online.
      </p>
      <!-- Ikon Media Sosial -->
      <div id="social-media" class="flex items-center space-x-4">
        {{ partial "content/social-media.html" . }}
      </div>
    </div>

    <!-- Kolom Kanan: 3 Menu -->
    <div class="w-full md:w-2/5 flex flex-col space-y-6">
      <div class="flex justify-between">
        <!-- Menu 1 -->
        <div class="flex flex-col space-y-2">
          <h4 class="font-semibold text-lg">Alat</h4>
          <ul class="space-y-1">
            <li><a href="https://alam0x.xyz/buat-dompet-kripto/" class="hover:underline">Buat dompet crypto</a></li>
            <li><a href="https://alam0x.xyz/fear-and-greed/" class="hover:underline">Fear&Greed Index</a></li>
            <li><a href="https://alam0x.xyz/scan-dompet/" class="hover:underline">Wallet Scanner</a></li>
            <li><a href="https://alam0x.xyz/gas/" class="hover:underline">Gas Tracker</a></li>
          </ul>
        </div>

        <!-- Menu 2 -->
        <div class="flex flex-col space-y-2">
          <h4 class="font-semibold text-lg">Data</h4>
          <ul class="space-y-1">
            <li><a href="https://alam0x.xyz/cex/" class="hover:underline">CEX</a></li>
            <li><a href="https://alam0x.xyz/blockchain-tps/" class="hover:underline">Blok TPS</a></li>
            <li><a href="https://alam0x.xyz/peretasan/" class="hover:underline">Hack List</a></li>
            <li><a href="https://alam0x.xyz/kamus/" class="hover:underline">Kamus</a></li>
          </ul>
        </div>

        <!-- Menu 3 -->
        <div class="flex flex-col space-y-2">
          <h4 class="font-semibold text-lg">Lainnya</h4>
          <ul class="space-y-1">
            <li><a href="https://alam0x.xyz/kontak/" class="hover:underline">Kontak</a></li>
            <li><a href="https://alam0x.xyz/tentang/" class="hover:underline">Tentang</a></li>
            <li><a href="https://alam0x.xyz/syarat-dan-ketentuan/" class="hover:underline">S&K</a></li>
            <li><a href="https://alam0x.xyz/disclaimer/" class="hover:underline">Disclaimer</a></li>
            <li><a href="#" class="hover:underline" onclick="showEthereumAddress(event)">Donate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t pt-4">
    <p class="text-sm">
      Copyright © {{ now.Year }}. All rights reserved
      <a href="https://alam0x.xyz/" rel="noopener">Alam0x.xyz</a>
    </p>
  </div>
</div>
