<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Bitpaus",
    "alternateName": "Bitpaus | Crypto adalah Kunci",
    "url": "https://bitpaus.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://bitpaus.com/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Bitpaus",
    "url": "https://bitpaus.com",
    "logo": "https://bitpaus.com/logo.png",
    "sameAs": [
      "https://twitter.com/bitpaus",
      "https://facebook.com/bitpaus",
      "https://instagram.com/bitpaus"
    ],
    "description": "Bitpaus adalah platform Informasi seputar crypto, dengan visi 
membangun literasi digital dan finansial yang kuat bagi seluruh 
masyarakat Indonesia, Serta meningkatkan kesadaran akan 
bahaya nya judi online."
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SiteNavigationElement",
    "name": ["Berita", "Airdrop", "Tutorial", "Opini"],
    "url": [
      "https://bitpaus.com/berita/",
      "https://bitpaus.com/airdrop/",
      "https://bitpaus.com/tutorial/",
      "https://bitpaus.com/opini/"
    ]
  }
</script>
